/*ПЕРШИЙ ПРЯМОКУТНИК*/
.flex_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background: black;
}

.box1,.box2,.box3,.box4,.box5,.box6{
    height: 400px;
    width: 250px;
    margin: 10px;
    outline: 3px solid white;
    background: #ffd500;
}

.block1{
    outline: 3px solid black;
    height: 20px;
    width: 20px;
    margin: 10px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;

}.korobka{
    height: 10px;
    width: 10px;
    background: black;
 }

/*ДРУГИЙ ПРЯМОКУТНИК*/
.box2{
    display: flex;
    justify-content: center;
    flex-flow:column wrap;

}
.block2{
    display: flex;
    height: 20px;
    width: 100%;
    background: black;
    margin:0 0 auto;
}

.korobka1{
    height: 100%;
    width: 12px;
    background: #ffd500;
    margin-left: 10px;
}

.korobka2{
    height: 100%;
    width: 12px;
    background: #ffd500;
    margin-right: 10px;
}
/*ТРЕТІЙ ПРЯМОКУТНИК*/
.box3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block3{
    height: 40px;
    width: 250px;
    margin-top: 10px;
    background: #4fa200;
}
/*ЧЕТВЕРТИЙ ПРЯМОКУТНИК*/

.box4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.block4{
    height: 130px;
    width: 70px;
    background: darkblue;

}

/*ПЯТИЙ ПРЯМОКУТНИК*/
.box5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a,.b,.c,.d,.e,.f,.g,.h,.i{
    height: 90%;
    width: 80%;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    background: #deef00;
}

.c{
    background: #a600ff;
}
.d{
    background: darkblue;
}
.e{
    background: chartreuse;
}
.f{
    background: #000000;
}
g{
    background: mediumvioletred;
}
.h{
    background: maroon;
}
.i{
    background: #ffffff;
}

/*ШОСТИЙ ПРЯМОКУТНИК*/
.box6{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
}
.size {
    height: 100px;
    width: 100px;
}
.block7,.block8,.block9{
    height: 100px;
    width: 100px;
    margin-bottom: 4px;
    border-radius: 50%;
    outline: 2px solid black;
}
.block7{
    background: red;
}
.block8{
    background: #efff00;
}
.block9{
    background: #47c500;
}

.block7:hover{
    opacity: 10%;
}
.block8:hover{
    opacity: 10%;
}
.block9:hover{
    opacity: 10%;
}
/*КАРТИНКА З ФЛЕКСБОКСАМИ*/
/*___________________ХЕДЕР_______________________*/
.pink{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top:20px;
    background: pink;
}

.white{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:200px;
    background: white;
    margin-top:150px;
}
.black{
    width: 70%;
    height:150px;
    background: #000000;
}
/*___________________МЕНЮ_______________________*/
.grey{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    background: grey;
}
.red,.orange,.blue,.yellow{
    width: 25%;
    height: 300px;
}
.red{
    background: red;
}
.orange{
    background:orange;
}
.blue{
    background:deepskyblue;
}
.yellow{
    background:yellow;
}
/*_______________Основні батьки мейну_________________________*/
.pink,.white,.black,.grey,.red,.orange,.blue,.yellow,.empty_block,.darkgreen,.darkorange,.darkblue,.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10,.b11,.b12,.b13{
    outline: 2px solid black ;
}
.empty_block{
    height: 700px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
}
.darkgreen,.darkorange,.darkblue{
    height: 700px ;
    width: 33%;
}
.darkgreen{
    background: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkorange{
    background: darkorange;
}
.darkblue{
    background: darkblue;
}
/*_______________Перший з мейну______________________*/
.b1{
    height: 80%;
    width: 70%;
    background: #a600ff;
    display: flex;
    flex-wrap: wrap;
}
.b2{
    width: 100%;
    height: 15%;
    background: orange;
}
.b3,.b4{
    width: 50%;
    height: 85%;
}
.b3{
    background: pink;
}
.b4{
    background: yellow;
}
/*____________________Другий з мейну______________________*/
.darkorange{
    display: flex;
    flex-wrap: wrap;
}
.b5{
    width: 100%;
    height: 20%;
    background: deepskyblue;
}
.b6{
    width: 35%;
    height: 80%;
    background: red;
}
.b7{
    width: 65%;
    height: 80%;
    background: orange;
    display: flex;
    flex-direction: column;
}
.b8{
    width: 60%;
    height: 10%;
    background: yellow;
}
.b9{
    width: 20%;
    height: 50%;
    background: yellow;
    align-self: center;
}
.b10{
    width: 20%;
    height: 50%;
    background: red;
    align-self: center;
}
/*____________________Третій з мейну______________________*/
.darkblue{
    display: flex;
    align-content: space-between;;
}
.b11,.b12,.b13{
    height: 35%;
    width: 33%;
    display: flex;
    flex-direction: column;
}
.b11{
    background: #a600ff;
    align-self: end;
}
.b12{
    background: #ffe800;
    align-self: center;
}
.b13{
    background: #ff6a00;
}