/*______________Шапка сайту______________________*/
*{
    font-family: 'Alegreya', serif;
    text-decoration: none;
}
.main_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_line{
    padding:15px 35px 15px 35px;
}
.click{
    width: 150px;
    display: flex;
}

.line{
    width: 35px;
    height: 5px;
    background: #004580;
    margin-top: 5px;
    border-radius: 40%;
}

.logo{
    width: 360px;
    height: 78px;
}

.pdf{
    font-family: 'Alegreya', serif;
    color: #004580;
    font-size: 20px;
}

.main_block_item3{
    display: flex;
    align-items: center;
}

/*______________Меню навігації______________________*/
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

li{
    list-style-type: none;
}
a:hover{
    opacity: 80%;
    color: #004580;
}
a{
    color:black;
    font-weight:bolder;
}
.lang,.search{
    width: 20px;
    height: 20px;
}

.menu{
    border-bottom: 1px solid grey;
    border-top:1px solid grey;
    box-shadow: 2px 6px 10px #004580;
}
/*______________Загальні блоки і ліва колонка новин_______________________*/
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 40px;
}
.start{
    width: 15%;
    height: 1000px;
    background:#ffc400;
}
.center{
    width: 50%;
    height: 1000px;
    background: #fd0000;
}
.end{
    width: 20%;
    height: 1000px;
    background: #efff00;
}
.data{
    height:15%;
    width: 100%;
    background: #a600ff;
}
.redaktor{
    height: 42%;
    width: 100%;
    background: #5eff00;
}
.project30{
    height: 43%;
    width: 100%;
    background: rgba(72, 0, 215, 0.75);
}
/*_______________Центральна колонка______________________*/

.news1{
    height: 30%;
    width: 100%;
    background: #ff6a00;
    display: flex;
    flex-flow: row wrap;
}
.news2{
    height: 70%;
    width: 100%;
    background: #ffc400;
    display: flex;
    flex-flow: row wrap;
}

.news_item1{
    height: 100%;
    width: 40%;
    background: #000000;
}
.news_item2{
    height: 100%;
    width: 60%;
    background: #17ff00;
}

.news_item3{
    height: 100%;
    width: 65%;
    background: rgba(201, 215, 0, 0.75);
    display: flex;
    flex-flow: row wrap;
}
.news_item4{
    height: 100%;
    width: 35%;
    background: #720000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.news_block1,.news_block2,.news_block3,.news_block4{
    height: 50%;
    width: 50%;
}
.news_block1{
    background: #d77100;
}
.news_block2{
    background: #ffc400;
}
.news_block3{
    background: #4fa200;
}
.news_block4{
    background: #a600ff;
}
.news_block5{
    height: 25%;
    width: 100%;
    background: #e200ff;
}
.news_block6{
    height: 20%;
    width: 100%;
    background: pink;
}
.news_block7,.news_block8,.news_block9,.news_block10{
    height: 13%;
    width: 100%;
}
.news_block7{
    background: darkblue;
}
.news_block8{
    background: greenyellow;
}
.news_block9{
    background: darkred;
}
.news_block10{
    background: darkgoldenrod;
}
/*_______________Права колонка______________________*/
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news_item5,.news_item6,.news_item7{
    width:100%;
    height: 33%;
}

.news_item5{
    background: maroon;
}
.news_item6{
    background: rgba(72, 0, 215, 0.75);
}
.news_item7{
    background: #eb00ff;
}
/*_____________________________________*/